*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

    color:#222;

    background:#fff;

    line-height:1.7;
}

img{

    max-width:100%;

    display:block;

}

.container{

    width:min(1200px,92%);

    margin:auto;

}

section{

    padding:90px 0;

}

h1{

    font-size:60px;

    line-height:1.15;

}

h2{

    font-size:40px;

    margin-bottom:18px;

}

p{

    color:#666;

    font-size:18px;

}

.btn{

    display:inline-block;

    padding:16px 36px;

    background:#0070f3;

    color:white;

    border-radius:8px;

    text-decoration:none;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-2px);

}