<footer>

<div class="container">

<div class="top">

<div>

<h3>YOLEC Electric</h3>

<p>
Professional OEM & ODM manufacturer of
small kitchen appliances in China.
</p>

</div>

<div>

<h4>Quick Links</h4>

<a href="/">Home</a>

<a href="https://www.yolec-electronics.com/products/">Products</a>

<a href="https://www.yolec-electronics.com/contact/">Factory</a>

<a href="/blog">Blog</a>

<a href="https://www.yolec-electronics.com/contact/">Contact</a>

</div>

<div>

<h4>Contact</h4>

<p>Email</p>

<p>adrian@yolec-electronics.com</p>

<p>WhatsApp</p>

<p>+86 13922332584</p>

</div>

</div>

<hr>

<p class="copyright">

© 2026 YOLEC Electric.
All Rights Reserved.

</p>

</div>

</footer>

<style>

footer{

background:#111;

color:white;

padding:70px 0 30px;

}

.top{

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:50px;

}

footer h4{

margin-bottom:15px;

}

footer a{

display:block;

color:#ccc;

text-decoration:none;

margin-bottom:10px;

}

footer p{

color:#bbb;

}

hr{

margin:40px 0;

border:none;

height:1px;

background:#333;

}

.copyright{

text-align:center;

font-size:15px;

}

/* Mobile styles */
@media (max-width: 768px){
    footer{
        padding:50px 20px 30px;
    }
    
    .top{
        grid-template-columns:1fr;
        gap:30px;
        text-align:center;
    }
    
    footer h3{
        font-size:24px;
    }
    
    footer h4{
        font-size:18px;
    }
}

@media (max-width: 480px){
    footer{
        padding:40px 15px 25px;
    }
    
    .top{
        gap:25px;
    }
    
    footer a, footer p{
        font-size:14px;
    }
    
    .copyright{
        font-size:13px;
    }
}

</style>
