---
const {
  title = "Китайский производитель мелкой кухонной техники | OEM и ODM",
  description = "Китайский производитель электрических чайников, чайников для кофе, рисоварок, электрических скороварок и другой мелкой кухонной техники. OEM и ODM для международных B2B-покупателей."
} = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>

		<meta charset="UTF-8" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>

		<meta
			name="description"
			content={description}
		/>

		<meta
			name="generator"
			content={Astro.generator}
		/>

		<link rel="icon" href="/favicon.ico" />

		<title>{title}</title>

	</head>

	<body>

		<slot />

	</body>

</html>

<style>

html,
body{

	margin:0;

	width:100%;

	height:100%;

	font-family:Arial, Helvetica, sans-serif;

}

</style>